.item-list__container {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  grid-column-gap: 2em;
  margin-block: 1rem;
  width: 100%;
}

.button--load-more {
  background-color: transparent;
  border: none;
  color: #{$primary};
  margin: 1rem;

  span {
    padding-inline: 1em;
  }
}

.loading {
  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 90vh;
  }

  &__text {
    font-size: 1.5rem;
    font-weight: 500;
    color: #{$white};
    margin-inline: 1rem;
    z-index: 3;
  }

  &__subtitle-text {
    font-size: 1rem;
    font-weight: 500;
    color: #{$white};
    margin-inline: 1rem;
    z-index: 3;
  }
}
